.counter {
  background-color: #f9fbfd;
  margin-top: 20px;
    padding: 20px;
}

.counter-display {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 12px;
}

.counter-button {
  background-color: #ffee00;
    border: none;
  border-radius: 10px;
    color: #000000;
    letter-spacing: 1px;
  margin-bottom: 12px;
  margin-right: 12px;
  padding: 12px 18px;
}

.is-inactive {
  background-color: #b9c3c9;
  color: #edf2f4;
}

@media screen and (min-width: 768px) {
  .counter-button {
    margin-bottom: 0;
  }
}