.counter {
  background-color: #2f2b00;
  margin-top: 20px;
    padding: 20px;
    border: 3px solid #ffee00;
    border-radius: 13px;
}

.counter-display {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 12px;
  color: #ffee00;
}

.counter-button {
  background-color: #6a6300;
    border: 2px solid #ffee00;
  border-radius: 10px;
    color: #000000;
    letter-spacing: 1px;
  margin-bottom: 12px;
  margin-right: 12px;
  padding: 12px 18px;
}

.is-inactive {
  background-color:#2f2b00;
  color: #5d5d5d;
   border: 2px solid #4b4600;
}

@media screen and (min-width: 768px) {
  .counter-button {
    margin-bottom: 0;
  }
}