body {
	
	 background: radial-gradient(circle at top left, #000000 0%, #343717 40%, #000000 100%);
	color: #ffffff;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.info-panel {
	background-color: #00000037;
border: 1px solid #ffee00;
	padding: 24px;
	border-radius: 20px;
	
}

.sample-code {
	background-color:#000000;
	border-radius: 12px;
	color: #ffee00;
	font-family: monospace;
	border: 1px solid #ffee00;
	font-size: 14px;
	margin-bottom: 16px;
	overflow-x: auto;
	padding: 16px;
	white-space: pre-wrap;
}

.counter-box {
	background-color: #00000058;
border: 2px solid #4f4f4f;
	padding: 24px;
	border-radius: 20px;
}
